.modal-form form{
 display: flex;
 flex-direction: column;
}
.modal-appear{
    animation: appear .2s ease-in forwards;
    opacity: 0;
}
.modal-disappear{
    animation: disappear .2s ease-in forwards;
    opacity: 1;
}

.modal-container{
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 5px 15px black;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

@keyframes appear {
    100%{
        opacity: 1;
        
    }
}
@keyframes disappear {
    100%{
        opacity: 0;
        
    }
}