.modal-form form{
 display: flex;
 flex-direction: column;
}
.modal-appear{
    animation: appear .2s ease-in forwards;
    opacity: 0;
}
.modal-disappear{
    animation: disappear .2s ease-in forwards;
    opacity: 1;
}

@keyframes appear {
    100%{
        opacity: 1;
        
    }
}
@keyframes disappear {
    100%{
        opacity: 0;
        
    }
}

.modal-container{
    width: 500px;
    height: 450px;
    background-color: white;
    box-shadow: 0px 5px 15px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.inputs{
    display: flex;
    gap: 10px;
}
textarea:focus-within, .inputs div:focus-within{
    border: 1px solid red;
    
}

.inputs input{
    line-height: 25px; 
   
}
textarea{
    background-color: rgb(227, 227, 227);
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace !important;
    font-weight: 500;
    
}
textarea:focus{
    color: black;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding-left: 5px;
    outline: none;
}
textarea::placeholder{
    font-size: 1rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
    color: rgb(123, 122, 122) !important;
}

.inputs div, input{
    display: flex;
    flex-direction: column;
    background-color: rgb(227, 227, 227);
    border-radius: 3px;
    margin-bottom: 10px;
    

}
.inputs input{
    margin: 0;
}
.inputs input:focus{
   outline: none;
}

label{
    font-size: .7rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 500;
    padding-left: 5px;
    padding-top: 5px;
}
.inputs input{
    color: black;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding-left: 5px;
    
}

